.header{
  background: #131313;
  padding: 24px 0 22px;
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #E3B873;
  }
  &__list{
    display: flex;
    column-gap: 47px;
  }
  &__link{
    font-weight: 400;
    font-size: 11px;
    color: #FFFFFF;
    &:hover{
      color: #E3B873;
    }
  }
  &__link_active{
    color: #E3B873;
      &:hover{
        text-decoration: underline #E3B873;
        text-underline-offset: 5px;
      }
    }
  &__nums{
    display: flex;
    column-gap: 45px;
    align-items: center;
  }
  &__phone{
    font-weight: 400;
    font-size: 11px;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #E3B873;
  }
  &__btn{
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 33px;
    background: #E3B873;
    border: 1px solid #E3B873;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    cursor: pointer;
    &:hover{
      background: transparent;
      border: 1px solid white;
      box-shadow: none;
      border-radius: 2px;
    }
  }
}

